.wrapper {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 631px;
    padding: 16px 26px;
    background: #5A5C66;
}

.input {
    font-size: 14px;
    line-height: 1.4;
    flex-grow: 1;
    margin-right: 16px;
    background: none;
    outline: none;
    border: none;
    color: #fff;
}

.input::placeholder  {
    color: #B2B7BF;
}

.icon {
    width: 21px;
    height: 21px;
}
